body{
    display:grid;
    justify-content: center;
}
#score{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:medium;
    font-weight: 700;
    text-align: center;
    width: 33vw;
    margin: none;
    border-radius: 3px;
    padding-bottom: 15px;
    padding-top: 15px;

}
#title{
    font-size: 22px;
}
.scoreDisplay{
    font-size: 18px;
}
